.skills{
    padding-top: 5rem; 
    height: fit-content;
}

.skills-container{
    justify-content: center;
    margin: 0 auto;
    max-width: 768px;
}

.skills-tabs{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.skills-button{
    font-size: 1.25rem;
    font-weight: 500;
    color: rgb(131, 131, 131);
    margin: 0 1rem;
    cursor: pointer;
}

.skills-button:hover {
    color: black;
}

.skill-icon {
    font-size: 1.8rem;
    margin-right: 0.25rem;
}

.skills-active{
    color: rgb(12, 12, 49);
}

.skills-sections{
    display: grid;
    grid-template-columns: 0.5fr;
    justify-content: center;

}

.skills-content{
    display: none;
}

.skills-content-active{
    display: block;
}

.skills-data{
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;

}
.skills-title{
    font-size: 1rem;
    font-weight: 500;
}

.skills-subtitle{
    display: inline-block;
    font-size: 0.875rem;
    margin-bottom: 1rem;
}

.skills-calender{
    font-size: 0.875rem;

}

.skills-rounder{
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: rgb(107, 75, 75);
    border-radius: 50%;
}

.skills-line{
    display: block;
    width: 1px;
    height: 100%;
    background-color: black;
    transform: translate(6px,-7px);

}


@media screen and (max-width: 990px) {
    .skills-container{
        margin-left: auto;
        margin-right: auto;
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
  
    }
}
@media screen and (max-width: 850px) {
    .skills-container{
        /* margin-left: auto; */
        /* margin-right: auto; */
        grid-template-columns: 2fr;
        row-gap: 2.5rem;
        grid-template-columns: initial;
  
    }
}
@media screen and (max-width: 768px) {
    .skills-container{
        margin-left: auto;
        margin-right: auto;

    }
}
@media screen and (max-width: 700px ) {
    .skills-sections{
        grid-template-columns: initial;
    }
}

@media screen and (max-width: 576px) {
    
    .skills-sections{
        margin-left: auto;
        margin-right: auto;
        grid-template-columns: initial;
    }

    .skills-button {
        margin: 0 0.75;
    }

}

@media screen and (max-width: 350px) {
    .skills-data{
        gap: 0.5rem;
    }
    .skills-sections{

        grid-template-columns: initial;
    }
}