* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  /* background-color: aqua; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
html {
  scroll-behavior: smooth;
}

h1 , h2 , h3{
  /* font-weight: 600; */
  font-size: 5rem;
}

ul{
  list-style: none;
}

a {
  text-decoration: none;
  transition: all 300ms ease;
}

p {
  color: rgb(42, 42, 42);
}

button{
  cursor: pointer;
  border: none;
  outline: none;
}

.section{
  padding: 6rem 0 2rem;
}

.section-subtitle{
  display: block;
  font-size: 0.900rem;
}
.section-title{
  font-size: 2.25rem;
  margin-bottom: 4rem;
}

.section-subtitle , .section-title{
  text-align: center;
  /* font-size: 0.900rem; */
}
section {
  /* border: 2px solid rgb(0, 0, 0); */
  padding-top: 4vh; 
  height: fit-content;
  width: 100vw;
  margin: 0 ;
  box-sizing: border-box;
  min-height: fit-content;
}

.container {
  padding: 0 2rem;
  /* margin: 0 auto; */

  /* border: 2px solid chartreuse; */
  /* margin-left: auto;
  margin-right: auto; */
}
.grid {
  display: grid;
  gap: 1.5rem;
}


.button {
  display: inline;
  padding: 1.25rem 2rem;
  border-radius: 1rem;
  font-weight: 500;

}

.button-flex{
  display: inline ;
  align-items: center;
}


/* media queary */

@media screen and (max-width: 680px ) {
  .container{
    /* margin: 0 auto; */
  
  }
  .button{
    padding: 1rem 1.75rem;
  }
  .section-head{
    /* border: 2px solid tomato; */
    margin-top: -5rem;
  }
}
@media screen and (max-width: 750px){
  /* .section-head{
    margin-top: 3rem;
  } */
  
}

@media screen and (max-width: 400px){
  .container{
    width: 100vw;
    box-sizing: border-box;
  }
  .section-head{
    margin-top: -1.5rem;
  }
  
}