.contact-container {
  display: flex;
  grid-template-columns: repeat(2, max-content);
  justify-content: center;
  column-gap: 6rem;
  padding-bottom: 3rem;
}

.contact-title {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.contact-info {
  display: grid;
  row-gap: 1rem;
  grid-template-columns: 300px;
}

.contact-card {
  background-color: rgb(237, 237, 237);
  border: 1px solid black;
  padding: 1rem;
  display: flex;
  border-radius: 0.75rem;
  /* text-align: center; */
  justify-content: space-between;
}

.contact-card-icon {
  font-size: 1.5rem;
  color: black;
}

.contact-card-title,
.contact-card-data {
  font-size: 1rem;
}

.contact-card-title {
  font-weight: 500;
}

.contact-card-data {
  display: block;
  margin-bottom: 0.75rem;
}
.contact-line {
  border: 1px solid rgb(95, 95, 95);
  height: 20rem;
}
.b1 {
  margin-right: 3rem;
  /* border: 2px solid; */
}

.contact-button-icon {
  font-size: 1.5rem;
  transition: 0.3s;
}
.contact-card:hover,
.contact-button:hover {
  background-color: rgb(249, 249, 249);
  transform: translate(1rem);
}

.contact-button:hover,
.contact-button-icon {
  transform: translate(1rem);
}

.contact-form {
  width: 360px;
}

.contact-form-div {
  position: relative;
  margin-bottom: 2rem;
  height: 4rem;
}

.contact-form-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid black;
  background: none;
  color: black;
  outline: none;
  border-radius: 0.75rem;
  padding: 1.5rem;
  z-index: 1;
}

.contact-form-tag {
  position: absolute;
  top: -0.75rem;
  left: 1.25rem;
  font-size: 0.813rem;
  padding: 0.25rem;
  background-color: rgb(255, 255, 255);
  z-index: 10;
}

.contact-form-area {
  height: 7rem;
}
.contact-form-area textarea {
  resize: none;
}

@media screen and (max-width: 992px) {
  .contact-container {
    column-gap: 3rem;
  }
}

@media screen and (max-width: 800px) {
  .contact-container {
    display: inline;
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }
  .contact-line{
   display: none;
  }

  .contact-info {
    margin-bottom: 2rem;
    justify-content: center;
  }

  .contact-form {
    margin: 0 auto;
  }
}

@media screen and (max-width: 576px) {
  /* .contact-info{
        grid-template-columns: 1fr;
    } */
    .contact-container {
        display: block;}


  .contact-form {
    width: 100%;
  }
}
